
.header_text{
    width: 600px;   
    margin-left: 100px;
}
.header_bd{
    margin-left: 115px;    
}
.bd_description{
    margin-left: 130px;
    margin-top:60px;
    width: 350px; 
}

.bd_description2{
    margin-top: 90px;
    margin-left: 130px; 
    width:710px;
}

.list-unstyled{
    list-style-type: none;
} 

/* .text-center{
    text-align: right;   
}
.text_address{
    text-align: center;
}
.text_link{
    margin-left: 180px;
} */

.col-auto{
    text-align: center;
} 



.row-header{
    margin: 0px auto;
    padding: 0px;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
}
.jumbotron{
    padding: 30px 30px 50px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}
/* address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
} */
