.jumbotron{
    background-color: rgb(154, 107, 199);
    color:rgb(224, 218, 230);
    height:160px; 
    margin-top: 0px;
}
.header_text{
    width: 600px;   
    margin-left: 130px;
}
.body_text{
    background-color: white;     
}
.header_bd{
    margin-left: 115px;    
}
.bd_description{
    margin-left: 130px;
    margin-top:60px;
    width: 350px; 
}

.bd_description2{
    margin-top: 90px;
    margin-left: 130px; 
    width:710px;
}

.body{
    margin-left: 130px; 
}
.footer{
    background-color: rgb(168, 163, 171);
}
.list-unstyled{
    list-style-type: none;
}
.footer  {

}
.text-center{
    text-align: right;   
}
.text_address{
    text-align: center;
}
.text_link{
    margin-left: 180px;
}

.col-auto{
    text-align: center;
}